<% provide(:page_title, "About") %>

<h1>Word Machine About</h1>
<p>
  This is the link to the <%= link_to("http://www.worldmachine.ie/#my-about-form", target: '_blank') do %>World Machine
  <% end %> about page.
</p>
