<% provide(:page_title, "Contact") %>

<h1>Word Machine Contact</h1>
<p>
  This is the link to the <%= link_to("http://www.worldmachine.ie/#my-contact-form", target: '_blank') do %>World Machine
  <% end %> contact page.
</p>
