<% provide(:page_title, "Help") %>

<h1>Word Machine Help</h1>
<p>
  This is the link to the <%= link_to("http://www.worldmachine.ie/#my-portfolio-form", target: '_blank') do %>World Machine
  <% end %> help page.
</p>
